%div{:class=>"row"}
  %div{:class => "span10"}
    %h2
      About Cuisine
    %p
      Cuisine is little dashboard to track changes made by chef.
    %p
      It is written by me, Nicolas Szalay (nico@rottenbytes.info). Its primary use was for my $DAYJOB at 
      %a{:href => "http://www.fotolia.com"} fotolia
      %br
      The whole stack relies on several technologies :
      %ul
        %li
          %a{:href => "http://wiki.opscode.com/display/chef/Exception+and+Report+Handlers" } Chef report handlers
          , and in particular 
          %a{:href => "http://www.rottenbytes.info/2011/07/28/asynchronous-reporting-with-chef/" } the asynchronous one
          I wrote
        %li
          %a{:href => "http://www.rabbitmq.com/" } RabbitMQ
          (or any stomp broker, pick your favorite)
        %li
          %a{:href => "http://www.sinatrarb.com/" } Sinatra
          (to run this web thing)
        %li
          %a{:href => "http://twitter.github.com/bootstrap/" } Twitter's bootstrap
          because I definitely hate CSS
        %li
          %a{:href => "http://www.elasticsearch.org/" } Elasticsearch
          , for indexing and storing informations

    %p The development is still in an early stage, feel free to send feeback by mail to nico /at/ rottenbytes.info
