!!!
%%html
  %%head
    %%title Cuisine ! 
    %link{:rel => "stylesheet", :href => "/bootstrap.min.css"}
 
    <!-- Le javascript --> 
    /%%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"  }
    %%script{:src => "/js/jquery.min.js"  }
    %%script{:src => "/js/bootstrap-modal.js"}
    %%script{:src => "/js/bootstrap-alerts.js"}
    %%script{:src => "/js/bootstrap-twipsy.js"  }
    %%script{:src => "/js/bootstrap-popover.js"  }
    %%script{:src => "/js/bootstrap-dropdown.js"}
    %%script{:src => "/js/bootstrap-scrollspy.js"  }
    %%script{:src => "/js/bootstrap-tabs.js"}
 
    <!-- Le styles --> 
    %link{:href => "/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/docs/assets/css/docs.css", :rel => "stylesheet"}
    %link{:href => "/docs/assets/js/google-code-prettify/prettify.css", :rel => "stylesheet"}

  %body
 
    %div{:class => "topbar"}
      %div{:class => "fill"}
        %div{:class => "container"}
          %a{:class => "brand", :href => "/"} Cuisine
          %ul{:class => "nav"}
            %li
              %a{:href => "/"} Hot stuff
            %li
              %a{:href => "/search"} Search
            %li
              %a{:href => "/about"} About
              
    %div{:class => "container"}
      %div{:class => "content"}
        %div{:class => "page-header"}
          %h1
            Invisible CSS !
      = yield

      %footer
        %p{:align => "center"}
          &copy; Nicolas Szalay / 
          %a{:href => "http://www.rottenbytes.info" }
            www.rottenbytes.info
