!!!
%%html
  %%head
    %%title Cuisine ! 
    %link{:rel => "stylesheet", :href => "bootstrap.min.css"}
 
    <!-- Le javascript --> 
    %%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"  }
    %%script{:src => "js/bootstrap-modal.js"}
    %%script{:src => "js/bootstrap-alerts.js"}
    %%script{:src => "js/bootstrap-twipsy.js"  }
    %%script{:src => "js/bootstrap-popover.js"  }
    %%script{:src => "js/bootstrap-dropdown.js"}
    %%script{:src => "js/bootstrap-scrollspy.js"  }
    %%script{:src => "js/bootstrap-tabs.js"}
 
    <!-- Le styles --> 
    %link{:href => "bootstrap.css", :rel => "stylesheet"}
    %link{:href => "docs/assets/css/docs.css", :rel => "stylesheet"}
    %link{:href => "docs/assets/js/google-code-prettify/prettify.css", :rel => "stylesheet"}

  %body
 
    %div{:class => "topbar"}
      %div{:class => "fill"}
        %div{:class => "container"}
          %a{:class => "brand", :href => "#"} Cuisine
          %ul{:class => "nav"}
            %li{:class => "active"}
              %a{:href => "#"} Hot stuff
            %li
              %a{:href => "#search"} Search
            %li
              %a{:href => "#about"} About
              
      %div{:class => "container"}
        <!-- test -->
        %div{:id => "modal-from-dom2", :class => "modal hide fade"}
          %div{:class => "modal-header"}
            %h3 Details for eqx-infra1.fotolia.loc 
          %div{:class => "modal-body"}
            %h4 
              Modified resources :
              %p
                %ul
                  %li
                    \/etc/collectd/collectd.conf
                  %li
                    \/etc/collectd/filters.conf
            %h4
              Run duration : 45.8s
          %div{:class => "modal-footer"}
            %a{:href => "#", :class => "btn alert close"} OK
        
        %div{:class => "content"}
          %div{:class => "page-header"}
            %h1
            Cuisine
            
          %div{:class => "row"}
            %div{:class => "span10"}
              %h2
                Latest runs
              %li
                eqx-search1 (3 minutes ago) - |
                %a{:"data-control-modal" => "modal-from-dom1", :"data-backdrop" => "true", :"data-keyboard" => "true", :class => "danger", :href => "#"} details
              %li
                eqx-infra1 (7 minutes ago) - |
                %a{:"data-control-modal" => "modal-from-dom2", :"data-backdrop" => "true", :"data-keyboard" => "true", :class => "danger", :href => "#"} details
            
            %div{:class => "span4"}
              %h3
                Various statistics
              %li foo
              %li bar
              %li baz
              
        %footer
          %p &copy; Rottenbytes 2011
